
.documents_mini img{
  width: 50px !important;
  object-fit:cover;
}

.documents img{ 
  width: 50px !important;
  object-fit:cover;
}

.selfie_mini img {
  width: 50px !important;
  object-fit:cover;
}

.selfie img{
  width: 50px !important;
  object-fit:cover;
}

.work_mini img{
  width: 50px !important;
  object-fit:cover;
}

.work img{
  width: 50px !important;
  object-fit:cover;
}