.navbar {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 60px;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 10px;
  padding-bottom: 0px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  box-shadow: 0px 0px 1px 0px rgba(168,168,168,1);
  border-bottom: 1px solid rgb(218, 218, 218);
}

.navbar-item{
  color: rgb(80, 79, 79) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.container-logo{
  margin-right: -15px;
}

.logo {
  width: 65px;
  grid-column: 1;
  padding: 2px;
  z-index:9;
  top: 4px;
  position: relative;
}

.right-menu {
  text-align: right;
  padding-top:10px;
}

.right-menu span {
  margin-top: 100px !important;
  margin: 15px !important;
}

.right-menu span{
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.input-search {
  width: 370px !important;
  height: 40px !important;
  border: 2px solid #d8d8d8 !important;
  outline: none !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  padding-left: 20px !important;
  margin-top: 17px;
  margin-left: -15px;
}

.input-search:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #b4b4b4 !important;
}

.input-search::-webkit-input-placeholder { /* Edge */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.9em !important;
}

.welcome-user{
  color: #60a8f1;
}

.signin{
  cursor: pointer !important;
}

.nav-fixed{
  z-index: 999 !important;
  position: fixed !important;
  width: 100% !important;
}

.back-nav{
  padding-bottom: 85px;
}

@media (max-width: 900px) {
  .input-search {
    width: 85% !important;
    outline: none !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left:40px !important;
    margin-top: -50px;
    margin-left: 20px;
  }

  .nav {
    display: block;
    grid-template-columns: none;

  }
}