.box-photos .column{
  background: #c8c8c8 !important;
  border-left: 1px solid rgb(160, 160, 160) !important;
  border-right: 1px solid rgb(160, 160, 160) !important;
  padding: 0 !important;
  height: 300px !important;
}

.box-photos .column img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.box-photos .column img:hover{
  width:100%;
  height:300px;
  object-fit:cover;
}

.title-tool{
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}

.title-tool-only{
  font-size: 35px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}

.logo-neighbor{
  widows: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: left !important;
  object-fit:cover;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
}

.head-infos-tool{
  padding-top: 30px !important;
}

.name-neighbor{
  margin-left: 15px;
  z-index: 9;
  position: relative;
  top: -30px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}

.rental-box{
  border: 1px solid rgb(219, 219, 219);
  padding: 13px;
  background: #fff !important;
}

.title-infos-tool{
  font-family: 'Open Sans', sans-serif;
  color: #60A8F1;
  font-weight: 600;
  margin: 20px 0px;
}

.text-simple-info-tool{
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400;
}

.box-price-rent{
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 160px;
  color: rgb(37, 37, 37) !important;
  font-size: 14px !important;
}

.price-rent{
  font-size: 20px !important;
  color: rgb(37, 37, 37) !important;
  font-weight: 700;
}

.message-rent{
  text-align: center !important;
}

.dt-range-picker-tool{
  background:transparent;
}

.DateInput_1{
  width: 46%;
}

.DateInput_input:focus{
  border: none !important;
}

.price-others{
  font-size: 14px !important;
  color: rgb(110, 110, 110) !important;
}

.price-others-legend{
  font-size: 12px !important;
  color: rgb(110, 110, 110) !important;
}

.button-p{
  cursor: pointer;
  color: rgb(0, 68, 255);
}

.title-politics{
  color: #000 !important;
  font-size: 14px !important;
}

.box-date-rules{
  background: #60A8F1;
  width: 70px !important;
  height: 70px !important;
  text-align: center !important;
  padding: 5px;
  color: #fff;
  font-size: 19px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.name-data-rules{
  padding: 21px 20px !important;
  height: 70px !important;
  width: 200px !important;
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  background: rgb(233, 233, 233);
  text-align: left !important;
}

.tension-rules{
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.title-tool-rules{
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 100; /* this is optional and should be different for every project */
}

.sticky-wrapper {
}

.sticky .sticky-inner {
  top: 100px;
}

.box-rent .rental-box{
   /*z-index: 999;
  position: fixed;
  right: 6% !important;*/
}

.sub-title{
  font-size: 20px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.orange{
  color: rgb(0, 132, 255) !important;
}


.no-padding-text{
  padding:0px 10px !important;
  margin-top: -16px;
  margin-bottom: -10px;
}

.pricefinal{
  margin: 8px 0px;
}

.label-period{
  margin-top: 5px;
  margin-bottom: -10px !important;
}

.padding-left-name{
  padding-left: 20px !important;
}

.therent{
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(63, 63, 63);
}

.therent span{
  color: #6EB5F4;
  font-weight: bold;
  text-transform: uppercase;
}

.configlessor{
  color: #ff7518;
  font-weight: bold;
}