.container-singin{
  /*
    width: 100vw !important;
    height: 100vh !important;
  */
    display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.ads{
  background:#60A8F1;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.singin{
  background: #fff;
  margin: 20px !important;
  padding: 4px ;
  padding-bottom: 30px !important;
  width: 380px !important;
  /*border: 1px solid rgb(207, 207, 207) !important;*/
}

.div-logo-singin{
  width: 200px !important;
  height: 200px !important;
}

.input-singin:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border: 1px solid rgb(19, 203, 228) !important;
}

.welcome-easytools{
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(47, 47, 47);
}