.navbar-item img{
  max-height: 3.0em !important;
}

.create-ad{
  margin-right: 15px !important;
}

.hello-user{
  margin-right: 15px !important;
}

.btn-user{
  cursor: pointer;
}

.dropdown-user{
  width: 200px !important;
  margin-top: 15px;
  border-radius: 3px !important;
  right: -11px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.li-drop{
  cursor: pointer;
}

.user-dropdown{
  cursor: pointer; 
}
