.image-tool-rent{
  width: 200px;
}

.capitalize{
  text-transform: uppercase !important;
  font-family: 'Poppins', sans-serif !important;
}


.avatar-detail{
  height: 70px;
  width: 70px !important;
}

.avatar-detail img{
  border-radius: 100px !important;
  width: 70px !important;
  height: 70px;
  object-fit:cover;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 3px 0px rgba(156,156,156,1);
}

.new, .notaccpet, .acceptandwaitng, .acceptandpaid{
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
}

.new{
  color: rgb(0, 140, 255);
}

.notaccpet{
  color: red;  
}

.acceptandwaitng{
  color: rgb(251, 193, 0);
}

.acceptandpaid{
  color: rgb(27, 175, 106);
}