.picture-tool{
  widows: 100%;
  height: 220px;
  background: rgb(209, 209, 209);
  color:#fff;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 6px;
}

.category{
  background: #FFD237;
  padding: 0px 8px;
  color:#000;
  font-size: 12px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.title-tool{
  margin-top: 6px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 1.0em;
}

.text-price{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.price{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  color: #000;
}

.image-index{
  margin-top: 0px;
  margin-bottom: 60px;
  background: #fff url('../../../assets/images/background.jpg') no-repeat;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
  height: 500px;
}

.explorer{
  padding: 30px;
}

.explorer h3{
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px;
  color: #000;
}

.itens-explorer{
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.tool-datas{
  margin-bottom: 15px !important;
}

.ad-img{
  border-radius: 6px !important; 
}

.title-ad-box{
  display: block !important;
  height: 60px !important;
}

.drag-photo{
  border:1px solid rgb(218, 209, 209);
  padding: 10px;
  text-align: center !important;
}

.box-imgs{
  padding-top: 15px !important;
  margin: -1px !important;
  text-align: center !important;
}

.box-imgs .column{
  margin: 2px !important;
  background: rgb(214, 214, 214);
  border:3px solid rgb(230, 230, 230);
  height: 100px;
  padding: 0px !important;
}

.box-imgs .column p {
  margin-top: 25px;
}

.image-list{
  width:100%;
  height:100%;
  object-fit:cover;
}

.warning-photo{
  color: rgb(29, 163, 240) !important;
  text-align: center !important;
  margin-bottom: 10px !important;
}

.button-edit{
  margin-left: 30px !important;
}

.warning-cad{
  font-size: 25px !important;
  font-family: 'Poppins', sans-serif !important;
  color: rgb(255, 145, 0) !important;
}

/*
.container-checkbox-lessor #toggles{
  margin: 0 auto !important;
}*/