.tool{
  cursor: pointer !important;
}

.picture-tool{
  widows: 100%;
  height: 220px;
  background: rgb(209, 209, 209);
  color:#fff;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 6px;
}

.category{
  background: #FFD237;
  padding: 0px 8px;
  color:#000;
  font-size: 12px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  text-transform: capitalize;
}

.title-tool{
  margin-top: 6px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 1.0em;
}

.text-price{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.price{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  color: #000;
}

.image-index{
  margin-top: 0px;
  margin-bottom: 60px;
  background: #fff url('../../../assets/images/background.jpg') no-repeat;
  background-size: cover !important;
  -webkit-font-smoothing: antialiased !important;
  height: 500px;
}

.explorer{
  padding: 30px;
}

.explorer h3{
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px;
  color: #000;
}

.itens-explorer{
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 3px 0px rgba(184,184,184,1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px;
}

.warning-unavailable{
  z-index: 999999 !important;
  position: fixed !important;
  width: 100% !important;
  background:#FFD237;
  color: #000;
  padding: 10px;
  padding-top: -10px !important;
  margin-top: -12px;
}

.close-unavailable{

}

.close-unavailable::before{
  content:'❌' !important;
}