.address-user{
  background: rgb(248, 246, 246) !important;
  border-top: 5px solid #60A8F1;
  padding: 10px;
}

.margin-title-price{
  margin-bottom: 0px !important;
}

.money{
  font-size: 20px !important;
  color: #60A8F1;
  font-weight: 500;
}

.padding-checkbox{
  margin: 10px !important;
}

.check{
  margin: 5px;
}