.footer{
  background: #fff !important;
  font-size: 1.0em;
  text-align: center;
}

.footer ul li {
  height: 26px;
  font-family: 'Opens', sans-serif;
  font-weight: 500;
  text-align: left !important;
}

.footer ul li img {
  width: 75%;
}

.title-footer{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  color: #000;
}

.logo-footer{
  width: 100%;
}

.mini-logo-footer{
  width: 30px;
}

.text-footer{
  z-index:9 !important;
  position:relative !important;
  top:-10px;
  margin-left:8px;
}