.container-sign-up{
  width: 100vw !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.sign-up{
  margin: 20px !important;
  padding: 4px;
  padding-bottom: 30px !important;
  width: 380px !important;
  border: 1px solid rgb(207, 207, 207) !important;
}

.title-singup{
  margin: 20px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.offer{
  margin-top: -20px;
}

.button-enter{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #60a8f1;
}

.terms{
  width: 100%;
  height: 300px !important;
  text-align: justify;
  overflow: auto;    
  padding:20px;
  scrollbar-base-color:#ffeaff
}

.accepted-bt{
  margin-right: 20px;
}