@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border: 1px solid #d8d8d8 !important;
}

.input, .button .select{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 90, 90);
}

.css-yk16xz-control{
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

.hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, rgb(236, 236, 236), rgb(197, 197, 197), rgb(236, 236, 236));
}

.validation-warning{
  color:#ff8e38;
  text-align: left !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.border-warning, .border-warning:focus, .border-warning:hover{
  border: 1px solid #ff8e38 !important;
}

.button:active, .button:hover{
  color:#000 !important;
  border:none !important;
}


::placeholder {
  color: rgb(131, 131, 131) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.0em;
}

.color-logo{
  background: #FFD237;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.color-logo:hover{
  background: #ffc300 !important;
}

.color-logo-lessor{
  background: #60a8f1;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.color-logo-lessor:active, .color-logo-lessor:focus{
  color: #fff !important;
}

.color-logo-lessor:hover{
  color:#fff !important;
}

.styles_modalCenter__L9F2w{
  width: 50% !important;
  background: #fff;
}

.modal-content{
  background: #fff;
  padding: 20px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.75);
}

.title-modal{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.9em;
}

.text-modal{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.warning-text-no-aling{
  color: #000000;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.8em;
}

.warning-text{
  color: #000000;
  text-align: left;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.8em;
}

.border-warning .css-yk16xz-control{
  border: none !important;
}

.marketing{
  text-align: left !important;
}

.columns{
  margin-top: 0.0em !important;
}

.logo-sing-up{
  margin-top: 10px;
  width: 70px;
}

.background-intern{
  background: #f4f4f4;
  padding-top: 20px;
}

.container-page{
  padding-top:0px !important;
  padding-bottom: 100px !important;
}

.box-inter{
  margin: 20px; 
  background: #fff;
}

.title-pages{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1.0em;
}

.sub-title-pages{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #60A8F1;
}

.baby-cry{
  width: 110px;
}

.dropdown-content{
  border-radius: 0px !important;
}

.menus{
  -webkit-box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  -moz-box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  box-shadow: -1px 2px 3px 0px rgba(168,168,168,1);
  background: #fff;
  width: 200px !important;
}

.menus .dropdown-item{
  padding: 10px 10px !important;
}
.menus .dropdown-item li:not(:first-child) {
  border-top: 1px solid rgb(233, 233, 233);
}

.menus .dropdown-item li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  padding: 6px 0px;
  font-size: 1.0em !important;
}

.menus .dropdown-item li a{
  color: rgb(134, 134, 134) !important;
}


.menu-from-lessor, .menu-from-renter{
  margin-top: 12px !important;
}

.user-dropdown{
  color: rgb(80, 79, 79) !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  margin-left: 10px;
}

.styles_closeIcon__1QwbI{
  cursor: pointer;
}


.title-tips{
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px; 
}

.text-tips{
  font-family: 'Open Sans', sans-serif;
  color: rgb(144, 144, 144);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 14px; 
}

.textarea-multiline{
  height: 160px !important;
}

.card-content{
  padding: 0.8rem !important;
}

.card .media:not(:last-child){
  margin:0px !important;
}

.card{
  border-bottom: 1px solid rgb(218, 218, 218);
  box-shadow: none !important;
}

.hack-padding-top{
  margin-top: -10px;
}

.css-b8ldur-Input input{
  border: none !important;
}

.back-form{
  margin-right: 20px !important;
}

.no-margin-top{
  margin-top: -60px;
}

.no-margin-top-columns{
  margin-top: -30px !important;
}

.no-margin-top-columns2{
  margin-top: -10px !important;
}

.classMenu span{
  margin-top: 24px;
}

.classNotrent{
  margin-top: 0px;
}

.dropdown-content{
  margin-top: 0px;
}

.notification{
  background: #fff;
  width: 360px;
  margin-top: 1px;
}

.count{
  z-index: 999999 !important;
  position: absolute !important;
  right: 0;
  top: 2px;
  background: red;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 18px !important;
  height: 18px !important;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif !important;
  padding-top: 0px !important;
}

.is-text{
  color: rgb(0, 47, 255) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.upload{
  cursor: pointer !important;
}